/* General for the whole document */

* {
  box-sizing: border-box;

  /* border: 1px red dotted; */
}

fonts .selector-for-some-widget {
  box-sizing: content-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: visible;
}

/* Animation pop up */
.image-ellipseBackground {
  width: 60%;
}

.image-ellipseFloor {
  width: 120%;
}

.image-pyramids {
  width: 100%;
}

.image-cormorant {
  width: 100%;
}

.picFit {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Small birds in pop up animation */

.sm-bi-1 {
  width: 8%;
}

.sm-bi-2 {
  width: 19%;
}

.sm-bi-3 {
  width: 14%;
}

/* Header and breadcrumb css */

/* hero stuff for the site */

.hero {
  height: 3000px;
  width: 100%;
}
