/*box-sizing: border-box er en default indstilling for CSS. 
Man behøver ikke forstå det, men det skal være der.
Stjernen angiver at stylingen gælder for ALLE HTML elementer, uden undtagelse
*/

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 1000px;
  overflow: auto;
}

.hero {
  position: relative;
  height: 1000px;
  width: 100%;
}

nav.navigation_sektion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.wave-container {
  position: relative;
  width: 100%;
  height: 800px; /* Adjust the height as needed */
  background-color: #1e1e30; /* Dark blue background color */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  background-image: url("wave.svg"); /* SVG wave image */
  background-size: cover;
  background-position: center;
}
